html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    height: 100px; /* altura do rodapé */
}

.footer-row {
    height: 100%;
}

.footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100px;
    height: 50px;
}