html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #508F65 50%, #f5f5f5 50%);
    border-radius: 1rem;
}

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 500px;
    width: 100%;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 1rem;
}

.form-container .btn-primary {
  font-size: 1.3rem; 
}

.form-container a {
  font-size: 1.15rem; 
}

.form-container label {
  font-size: 1.2rem; 
}

.form-floating {
    position: relative; // já usado para posicionar o toggle
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #6c757d; // cor neutra
    user-select: none; // evita seleção de texto
}

.toggle-password:hover {
    color: #000; // cor mais escura no hover
}