.container{
    padding: 0px;
    max-width: 95%;
}

.custom-button {
    padding: 0.7rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.custom-table {
    border-radius: 1.5rem;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.custom-table th{
    background-color: #f5f5f5;
    padding: 1.5rem;
    font-size: 1.6rem;
    max-width: 100%;
    // border-radius: 1.5rem;
}

.custom-table tr{
    padding: 1.5rem;
    background-color: #f5f5f5;
    border-radius: 1.5rem;
}

h1{
    font-size: 3.5rem;
}
